<style>
    :root {
        --sys-font-family: "Noto Sans SC";
        --zh-font-family: "Noto Serif SC";
        --base-font-family: "Fredoka";
        --code-font-family: "Inconsolata";
        --article-font-family: "Bitter", "Noto Serif SC";
    }
</style>

<script>
    (function () {
        const customFont = document.createElement("link");
        customFont.href = "https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap";

        customFont.type = "text/css";
        customFont.rel = "stylesheet";

        document.head.appendChild(customFont);
    })();

    (function () {
        const customFont = document.createElement("link");
        customFont.href = "https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap";

        customFont.type = "text/css";
        customFont.rel = "stylesheet";

        document.head.appendChild(customFont);
    })();

    (function () {
        const customFont = document.createElement("link");
        customFont.href = "https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@200..900&display=swap";

        customFont.type = "text/css";
        customFont.rel = "stylesheet";

        document.head.appendChild(customFont);
    })();

    (function () {
        const customFont = document.createElement("link");
        customFont.href = "https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap";

        customFont.type = "text/css";
        customFont.rel = "stylesheet";

        document.head.appendChild(customFont);
    })();

    (function () {
        const customFont = document.createElement("link");
        customFont.href = "https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap";

        customFont.type = "text/css";
        customFont.rel = "stylesheet";

        document.head.appendChild(customFont);
    })();
</script>
